<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <title>Auto correct</title>
</head>
<body>
    <h2 class="text-center">Free Grammar Checker Online</h2>
    <p class="text-center">Tool by nghiahsgs</p>
    <form method="POST">
        <div class="form-group">
          <label for="input_text">Input Text</label>
          <input type="text" class="form-control" id="input_text" name='input_text' value="{{data_render['input_text']}}">
        </div>
        
        {% if data_render['message'] %}
        <p style="color: red;">{{data_render['input_text_err']}}</p>
        <p>{{data_render['message']}}</p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
    

    
</body>
</html>